html, body {
  margin: 0;
  padding: 0;
  background-color: #0b0f19;
}
body {
  display: flex;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  color: white;
  font-family: monospace;
}
canvas {
  display: block;
  border-radius: 4px;
}

.aframe{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 20px;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  color: black;
  margin: 0 1px;
  padding: 0px 10px;
}

.current-frame{
  background: orange;
}

#timeline, #ui-container{
  display: flex;
  margin-top: 10px;
}

#ui-container > button {
  cursor: pointer;
  border: none;
  margin: 0 4px;
  border-radius: 4px;
  height: 30px;
  padding: 0px 20px
}

#ui-container > button:hover {
  background-color: lightgrey;
}