html, body {
  margin: 0;
  padding: 0;
  background-color: #0b0f19;
}
canvas {
  display: block;
}

.aframe{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 20px;
  background: white;
  border-radius: 20px;
  cursor: pointer;
}

.current-frame{
  background: orange;
}

#timeline, #ui-container{
  display: flex;
  margin-top: 10px;
}